if isLTR
	article.header-article
		div.header-article__container.container
			h2.header-article__heading Успейте принять участие в&nbsp;конкурсе
			p.header-article__sub-heading до&nbsp;конца конкурса осталось
			+timer("header-article")
			button.header-article__close.close.close--accent
				svg(width="24" height="24" aria-hidden="true")
					use(xlink:href="img/sprite.svg#close")

if isRTL
	article.header-article
		div.header-article__container.container
			h2.header-article__heading זמן להשתתף בתחרות
			p.header-article__sub-heading עד לסיום התחרות
			+timer("header-article")
			button.header-article__close.close.close--accent
				svg(width="24" height="24" aria-hidden="true")
					use(xlink:href="img/sprite.svg#close")
