if isLTR
	section.preview(id="preview" data-type="section")
		div.preview__container.container
			div.preview__wrap
				p.preview__label Партнерский Марафон&nbsp;— Зимний Сезон
				h1.preview__heading.heading-1 Конкурс #[br] для партнеров
				div.preview__text
					p Станьте самым активным партнером в&nbsp;ноябре 2021&nbsp;– январе 2022
					p И&nbsp;выиграйте крутые призы от&nbsp;AMarkets!
				a.preview__link.button-accent(href="#investment") Принять участие
			div.preview__decor(aria-hidden="true")
				img(src="img/content/preview-decor.svg" alt="")

if isRTL
	section.preview(id="preview" data-type="section")
		div.preview__container.container
			div.preview__wrap
				p.preview__label מרתון שותפים-עונת החורף
				h1.preview__heading.heading-1 תחרות #[br] לשותפים
				div.preview__text
					p הפוך לשותף הפעיל ביותר בנובמבר 2021-ינואר 2022
					p וזכו בפרסים מגניבים מ-AMarkets!
				a.preview__link.button-accent(href="#investment") להשתתף
			div.preview__decor(aria-hidden="true")
				img(src="img/content/preview-decor.svg" alt="")
