-
	const DataInvestment = {
		LTR: [
			{
				name: 'Tesla',
				type: 'TSLA.US',
				lastYear: '+913%',
				logo: 'img/content/company-icon-01.png',
				background: 'background: linear-gradient(90deg, #313131 0%, #444 100%);',
			},
			{
				name: 'Nvidia',
				type: 'NVDA.US',
				lastYear: '+141  %',
				logo: 'img/content/company-icon-02.png',
				background: 'background: linear-gradient(90deg, #77b900 0%, #70ae00 100%);',
			},
			{
				name: 'AMD',
				type: 'AMD.US',
				lastYear: '+95%',
				logo: 'img/content/company-icon-03.png',
				background: 'background: linear-gradient(90deg, #009a66 0%, #07c887 100%);',
			},
			{
				name: 'Apple',
				type: 'APP.US',
				lastYear: '+83  %',
				logo: 'img/content/company-icon-04.png',
				background: 'background: linear-gradient(90deg, #bbb 0%, #e7e7e7 100%);',
			},
			{
				name: 'Amazon',
				type: 'AMZN.US',
				lastYear: '+77%',
				logo: 'img/content/company-icon-05.png',
				background: 'background: linear-gradient(90deg, #f90 0%, #ffb23f 100%);',
			},
			{
				name: 'eBay inc.',
				type: 'EBAY.US',
				lastYear: '+75%',
				logo: 'img/content/company-icon-06.png',
				background: 'background: linear-gradient(90deg, #e53238 0%, #f94f54 100%);',
			},
			{
				name: 'Google',
				type: 'GOOG.US',
				lastYear: '+35.80%',
				logo: 'img/content/company-icon-07.png',
				background: 'background: linear-gradient(90deg, #34a853 0%, #fabc05 100%);',
			},
			{
				name: 'Microsoft',
				type: 'MSFT.US',
				lastYear: '+528  %',
				logo: 'img/content/company-icon-08.png',
				background: 'background: linear-gradient(90deg, #032368 0%, #01143d 100%);',
			},
		],
		RTL: [
			{
				name: 'טסלה',
				type: 'TSLA.US',
				lastYear: '+913%',
				logo: 'img/content/company-icon-01.png',
				background: 'background: linear-gradient(90deg, #313131 0%, #444 100%);',
			},
			{
				name: 'נווידיה',
				type: 'NVDA.US',
				lastYear: '+141  %',
				logo: 'img/content/company-icon-02.png',
				background: 'background: linear-gradient(90deg, #77b900 0%, #70ae00 100%);',
			},
			{
				name: 'אמד',
				type: 'AMD.US',
				lastYear: '+95%',
				logo: 'img/content/company-icon-03.png',
				background: 'background: linear-gradient(90deg, #009a66 0%, #07c887 100%);',
			},
			{
				name: 'אפל',
				type: 'APP.US',
				lastYear: '+83  %',
				logo: 'img/content/company-icon-04.png',
				background: 'background: linear-gradient(90deg, #bbb 0%, #e7e7e7 100%);',
			},
			{
				name: 'אמזון',
				type: 'AMZN.US',
				lastYear: '+77%',
				logo: 'img/content/company-icon-05.png',
				background: 'background: linear-gradient(90deg, #f90 0%, #ffb23f 100%);',
			},
			{
				name: 'איביי תאגיד.',
				type: 'EBAY.US',
				lastYear: '+75%',
				logo: 'img/content/company-icon-06.png',
				background: 'background: linear-gradient(90deg, #e53238 0%, #f94f54 100%);',
			},
			{
				name: 'גוגל',
				type: 'GOOG.US',
				lastYear: '+35.80%',
				logo: 'img/content/company-icon-07.png',
				background: 'background: linear-gradient(90deg, #34a853 0%, #fabc05 100%);',
			},
			{
				name: 'מיקרוסופט',
				type: 'MSFT.US',
				lastYear: '+528  %',
				logo: 'img/content/company-icon-08.png',
				background: 'background: linear-gradient(90deg, #032368 0%, #01143d 100%);',
			},
		],
	};
