.heading-1 {
	margin: 0;
	font-weight: 700;
	font-size: 64px;
	line-height: 64px;

	@media (max-width: 767.98px) {
		font-size: 48px;
		line-height: 48px;
	}

	@media (max-width: 599.98px) {
		font-size: 40px;
		line-height: 40px;
	}

	@media (max-width: 359.98px) {
		font-size: 36px;
		line-height: 36px;
	}
}

.heading-2 {
	margin: 0;
	font-weight: 700;
	font-size: 50px;
	line-height: 60px;

	@media (max-width: 767.98px) {
		font-size: 40px;
		line-height: 44px;
	}

	@media (max-width: 599.98px) {
		font-size: 32px;
		line-height: 36px;
	}

	@media (max-width: 359.98px) {
		font-size: 28px;
		line-height: 32px;
	}
}
