extends layout/layout

block const
	- const isHomePage = true;
	- const language = "ru";
	- const isLTR = true;

block meta
	title Тестовое задание
	meta(name="description" content="Тестовое задание")
block content
	include includes/preview
	include includes/investment
block prepend page-bottom
