extends layout/layout

block const
	- const isHomePage = true;
	- const language = "he";
	- const isRTL = true;

block meta
	title מִבְחָן
	meta(name="description" content="מִבְחָן")
block content
	include includes/preview
	include includes/investment
block prepend page-bottom
