:root {
	--color-background: #fff;
	--color-background-accent: #fff1e6;
	--color-main: #111827;
	--color-alternate: #fff;
	--color-accent: #fb7101;
	--color-link: #4184f6;
	--color-timer: #fee3cc;
	--color-border-main: rgb(17 24 39 / 20%);
	--color-border-accent: rgb(251 113 1 / 20%);
	--color-modal-background: rgb(0 0 0 / 50%);
	--color-field-placeholder: #8f9296;
	--color-field-background: #f3f5f6;
}
